body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #008080;
  color: #fff;
}
button {
  background-color: #f97171;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 1rem;
}

.table {
  display: flex;
  margin: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
td,
th {
  padding: 5px 10px;
}

input {
  border: none;
}

.m-l-10 {
  margin-left: 10px;
}
.m-t-10 {
  margin-top: 10px;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
